/* Reset de estilos padrão do navegador */
body,
h1,
h2,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

/* Estilo global da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo da página */
}

.background {
    background-color: #ffffff; /* Cor de fundo do conteúdo principal */
    margin: 20px; /* Espaçamento da borda */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

header {
    background-color: #343a40; /* Cor de fundo do cabeçalho */
    color: #ffffff; /* Cor do texto no cabeçalho */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.div-centralizada {
    text-align: center;
}

/* Estilo dos produtos na página principal */
.row {
    margin-top: 20px;
}

.col-4 {
    margin-bottom: 20px;
}

.preco {
    color: rgba(96, 158, 255, 1);
    font-family: open sans,sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}

/* Rodapé */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}
